{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouvel article prédéfini{% endblock %}

{% block body %}
    <h1>Ajouter un nouvel article prédéfini</h1>

    {{ form_start(form) }}
    {{ form_row(form.article) }}
    {% if form.article.vars.errors %}
        <div class="alert alert-danger">
            {% for error in form.article.vars.errors %}
                {{ error.message }}
            {% endfor %}
        </div>
    {% endif %}
    <button type="submit" class="btn btn-success">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}